
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Action("PartialHead", "Default")
</head>
<body>

    @Html.Action("PartialNavbar", "Default")

    <div class="second-page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>About Us </h4>
                    <h2>Woox Travel Company </h2>
                    <p>Woox Travel Company is your trusted partner for discovering the world's most breathtaking destinations. Our mission is to make travel accessible, convenient, and memorable for everyone. With a robust platform that connects travelers to thousands of tours, activities, and vacation packages, we bring the world to your fingertips.</p>
                    <div class="main-button"><a href="/Default/Index">Go to Homepage</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="more-info reservation-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="info-item">
                        <i class="fa fa-phone"></i>
                        <h4>Make a Phone Call</h4>
                        <a href="#">+123 456 789 (0)</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="info-item">
                        <i class="fa fa-envelope"></i>
                        <h4>Contact Us via Email</h4>
                        <a href="#">support@wooxtravel.com</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="info-item">
                        <i class="fa fa-map-marker"></i>
                        <h4>Visit Our Offices</h4>
                        <a href="#">24th Street North Avenue London, UK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Action("PartialFooter", "Default")

    @Html.Action("PartialScript", "Default")
</body>
</html>
